server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/restaurant_management
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

logging:
  level:
    org.hibernate.SQL: info

app:
  security:
    admin:
      username: admin
      password: admin123
    staff:
      username: staff
      password: staff123